<!doctype html>
<html>
	<head>
		<title>Control center</title>
		<meta charset="utf-8">
	</head>
	<body>

		<h2>Sessions</h2>
		<table>
			<tr>
				<th>Birth date</th>
				<th>Last touched</th>
				<th>TimeOut</th>
				<th>shouldTerminate</th>
				<th>Mine?</th>
				<th></th>
			</tr>
			<wo:repetition list="$sessions" item="$currentSession">
				<tr>
					<td><wo:str value="$currentSession.birthDate" /></td>
					<td><wo:str value="$currentSession.lastTouchedDate" /></td>
					<td><wo:str value="$currentSession.timeOut" /></td>
					<td><wo:str value="$currentSession.shouldTerminate" /></td>
					<td><wo:if condition="$isMySession"><strong>This is your session!</strong></wo:if></td>
					<td><wo:link action="$terminate">Kill!</wo:link></td>
				</tr>
			</wo:repetition>
		</table>

		<h2>Properties</h2>
		<table>
			<wo:repetition list="$propertyKeys" item="$currentPropertyKey">  
				<tr>
					<td><wo:str value="$currentPropertyKey" /></td>
					<td><wo:str value="$currentPropertyValue" /></td>
				</tr>
			</wo:repetition>
		</table>
	</body>
</html>