<wo:TALook>
	<h2>Very simple form</h2>

	<p>
		Shows Regular HTML-form being used to invoke a route that handles the URL specified in the action attribute.<br>
		Then redirects you to the front page. Very exciting.
	</p>

	<hr />

	<wo:form>
		<label>Standard text field</label>
		<wo:textfield value="$textFieldValue" class="form-control" /><br>

		<label>Pop up</label>
		<wo:popUpButton list="$popUpItems" class="form-select" /><br>
		<wo:submit action="$submit" class="btn btn-primary" /><br>
	</wo:form>
</wo:TALook>