<wo:TALook>
	<h2>Ajax functionality</h2>

	<p>
		Ajax functionality is still very primitive (as can be seen from the look of ng-js.js).
	</p>
	<p>
		We do have one feature missing from WO's Ajax.framework - we allow the updating of multiple update containers (from one action/response).<br>
		We do this by constructing a multipart response, with each part of the response corresponding to a targeted container.<br>
		The approach seems to work fine, but we'll see whether we keep it as-is (or if we'll resort to something more complex). I like the multipart response-approach though, since it's a pretty well established standard method of returning many things in one resposne. 
	</p>
	<p>
		Another thing is that our page cachce is designed from the ground up to handle Ajax requests. Still needs some work to properly handle multi-container updates though. 
	</p>

	<hr />

	<h5>Basic UpdateLink, updates the current time in the container below the button</h5>
	<wo:AjaxUpdateLink action="$context.page" updateContainerID="timeUC" class="btn btn-primary">Show current time</wo:AjaxUpdateLink>
	<wo:AjaxUpdateContainer id="timeUC" class="card mt-3 mb-3 p-3">
		<wo:str value="$currentTime" />
	</wo:AjaxUpdateContainer>
</wo:TALook>