<!doctype html>
<html>
	<head>
		<title>ng-objects test page</title>
		<style>
			body {
				font-family: sans-serif;
				font-size: 14px;
			}

			code {
				background-color: rgb(240,240,240);
				border: 1px solid rgb(200,200,200);
				border-radius: 5px;
				padding: 2px;
			}
		</style>
	</head>
	<body>
		<h2>Welcome to the ng-objects test page</h2>
		
		<p><webobject name="MyDefinitionComesFromTheWodFile" /></p>

		<h3>How about conditionals</h3>

		<wo:if condition="$true">
			<p>This paragraph is inside a conditional with constant value association <code>$true</code></p>
		</wo:if>

		<p>
			<wo:link action="$toggleShowHidden"><wo:str value="$showHideToggleString" /> horrible secret</wo:link>
			<wo:if condition="$showHiddenPart"><br>I sometimes like light beer. Also, you just flipped a boolean bound to a wo:conditional</wo:if>
		</p>

		<h3>Let's look at the three different ways to load up an image (filename,src,data)</h3>
		<p>
			<wo:img filename="test-image-1.jpg" height="150" />
			<wo:img src="/wr/test-image-2.jpg" height="150" />
			<wo:img data="$testImage3Data" mimeType="image/jpeg" height="150" />
		</p>

		<h3>Let's see a repetition</h3>

		<table>
			<wo:repetition list="$names" item="$currentName" index="$index">
				<tr>
					<td><wo:str value="$index" /></td>
					<td><wo:str value="$currentName" /></td>
					<td><wo:str value="$context.elementID" /></td>
					<td><wo:link action="$printCurrentName">Print</wo:link></td>
				</tr>
			</wo:repetition>
		</table>

		<h3>Now for our own embedded component</h3>

		<wo:TestComponent someString="And this is a value from a constant binding, being passed to that component" />

		<h3>And of course, a wrapper component</h3>

		<wo:WrapperComponent>
			<p>This paragraph is inside a wrapper component</p>
		</wo:WrapperComponent>

		<h3>Let's try a form</h3>

		<wo:form>
			<wo:NGTextField value="$valueForTheTestTextField" /> <wo:submit action="$testAction" />
		</wo:form>
		<p>The field's value is: <strong><wo:str value="$valueForTheTestTextField" /></strong></p>
		<p>Form values: <wo:str value="$context.request.formValues" /></p>
	</body>
</html>