<!doctype html>
<html>
	<head>
		<title>Þetta er vefsíða!</title>
	</head>
	<body>
		<h2>This is a test component</h2>
		<h3><webobject name="smu" /></h3>
		<p>
			<wo:link href="https://www.apple.com"><wo:img filename="test-image-3.jpg" width="200" /></wo:link>
		</p>
		<wo:if condition="$true">
			<p>Vulcan craves antennas, cameras and attention in the age of social media.</p>
		</wo:if>
		<p>
			<img src="/wr/test-image-1.jpg" width="300" />
			<img src="/wr/test-image-2.jpg" width="300" />
		</p>
		<wo:repetition list="$names" item="$currentName" index="$index">
			<wo:str value="$index" /> : <wo:link href="$currentHref"><wo:str value="$currentName" /></wo:link> : <wo:link action="$printCurrentName">Print</wo:link><br>
		</wo:repetition>
		<wo:TestComponent someString="This is a value from a constant binding, being passed to a component" />
		<wo:WrapperComponent>
			<p>This content is wrapped inside a wrapper component</p>
			<p>Form values: <wo:str value="$context.request.formValues" /></p>
		</wo:WrapperComponent>
		<wo:form>
			<wo:NGTextField /> <wo:NGSubmitButton />
		</wo:form>
	</body>
</html>