<!doctype html>
<html>
	<head>
		<title>Þetta er vefsíða!</title>
	</head>
	<body>
		<h2>All hail the glorious Vulcan! Smusmus</h2>
		<h3><webobject name="smu" /></h3>
		<p>
			<wo:link href="https://www.apple.com"><wo:img filename="test-image-3.jpg" width="200" /></wo:link>
		</p>
		<p>Vulcan craves antennas, cameras and attention in the age of social media.</p>
		<p><img src="/wr/test-image-1.jpg" width="400" /></p>
		<p><img src="/wr/test-image-2.jpg" width="400" /></p>
		<wo:repetition count="5">
			Hahaha<br>
		</wo:repetition>
	</body>
</html>