<wo:TALook>
	<h2>Some images</h2>
	
	<p>
		Exactly what it says on the tin. Some images, to demonstrate the use of NGImage.Kind of boring, but kept around with the plan to enrich it with more complex samples.
	</p>
	<p>
		Oh, you can click a single image in the list below to go to a different page, with the image selected.
	</p>

	<hr style="margin: 50px"/>

	<wo:repetition list="$images" item="$currentImage">
		<wo:link action="$selectImage" class="card p-2 m-3">
			<wo:img filename="$currentImage.filename" width="200" />
			<wo:str value="$currentImage.title" />
		</wo:link> 
	</wo:repetition>
	
	<hr style="margin: 50px"/>
	
	<h3>Let's look at the three different ways to load up an image (filename,src,data)</h3>
	<p>
		<wo:img filename="test-image-1.jpg" height="150" />
		<wo:img src="/wr/app/test-image-2.jpg" height="150" />
		<wo:img data="$testImage3Data" mimeType="image/jpeg" height="150" />
	</p>
	
</wo:TALook>		
